<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
<listeners>
	<listener class-name="com.banking.utilities.Reporting"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
    <!--  <class name="com.banking.testcases.TC01_LoginTest"/>-->
     <class name="com.banking.testcases.TC02_LoginUsingExcelTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
